* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  justify-content: flex-start;
  background: white;
}

.reset-button {
  font-size: 16px;
  height: 30px;
}

.win-loss-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}



header {

  text-align: center;
  background: rgb(107, 29, 29);
  color: #fff;
  border-bottom:30px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.question-game  {
  width: 55vw;
  height: 400px;
}

.results {
  width: 30vw;
  height: 400px;
}

.question {
  border: 1px solid #eceff1;
  border-radius: 1px;
  margin: auto;
  padding: 0px;
}


.large-font {
  font-size: 3.5em;
  text-align:center;
}

.timer {
  /* height: 240px; */
  padding: 10px;
  background: #13293d;
  color: #fff;
  text-align: center;
}

.timer-text {
  padding: 55px;
}

@media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }

  .word-guess,
  .results {
    width: 90vw;
  }

  section {
    background-color: white;
    margin: 20px auto;
    width: 92vw;
  }
}

@media screen and (max-width: 504px) {
  .large-font {
    font-size: 2em;
  }

  .reset-button {
    font-size: 12px;
    width: 20ox;
    
  }

  /* .timer { */
    /* height: 200px; */
  /* } */
}

body {
  font-family: Arial;
  font-size: 120%;
}

.mainBody{
  border: 5px inset;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.1s;
}

.headerBar{
  border: 5px inset;
}
.tickTock, .scores{
  color:#76aef1;
}

.choices button {
  display: inline-block;
}

input[type="text"] {
  font-size: 100%;
}

.HSTitle{
  text-align: center;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}


.btn{
height:fit-content;
}